<!-- header -->
<%- include("partials/header.ejs") %>
<script>
  function updateCheck(checkbox, text) {
      if (checkbox.checked) {
          text.classList.add('cross-text');
      } else {
          text.classList.remove('cross-text');
      }
  }
</script>
<div id="card-container">
  <h1 class="mt-5">WORK</h1>
  <div class="card" id="width-card">
    <ul class="list-group list-group-flush">
      <li class="list-group-item" id="title-card"></li>
      <% if(locals.addTaskWork) { %>
        <% for(let i=0; i<addTaskWork.length; i++) { %>
          <li class="list-group-item">
            <input type="checkbox" onchange="updateCheck(this, this.nextElementSibling)"/>
            <%= addTaskWork[i] %>
          </li>
        <% } %>
      <% } %>
    </ul>
    <div class="card-footer">
      <form action="/work" method="post" class="add-area">
        <input type="text" name="newTask" placeholder="Add New Tasks" />
        <input type="submit" value="➕" />
      </form>
    </div>
  </div>
</div>
<!-- footer -->
<%- include("partials/footer.ejs") %>